<h1>User profile!</h1>
<p>Find me in app/views/users/profile.html.erb</p>

<form class = 'form-horizontal'>

  <div class = 'control-group'>
    <label class = 'control-label' for = 'first_name'>First Name</label>
    <div class = 'controls'>
      <input type="text" id = 'first_name' placeholder="First Name">
    </div>
  </div>

  <div class = 'control-group'>
    <label class = 'control-label' for = 'last_name'>Last Name</label>
      <div class = 'controls'>
      <input type="text" id = 'last_name' placeholder="Last Name">
    </div>
  </div>

  <div class = 'control-group'>
    <label class = 'control-label' for = 'email'>Email</label>
    <div class = 'controls'>
      <input type="text" id = 'email' placeholder="xyz@somewhere.com">
    </div>
  </div>

  <div class = 'control-group'>
    <label class = 'control-label' for = 'password' >Password</label>
    <div class = 'controls'>
      <input type="text" id = 'password' placeholder="">
    </div>
  </div>

  <div class = 'control-group'>
    <div class = 'controls'>
      <button type="submit" class="btn">Submit</button>
    </div>
  </div>

</form>


